extends html

snippet def "define block" b
{{ define "$1" }}
	$0
{{ end }}
endsnippet

snippet if "if block" b
{{ if $1 }}
	$0
{{ end }}
endsnippet

snippet range "range block" b
{{ range $1 }}
	$0
{{ end }}
endsnippet

snippet temp
{{ template "$1" . }}
endsnippet

snippet html "html base template" b
{{ define "$1" }}
<html>
	{{ template "header" . }}
	<body>
		<h1>Hi from "$1" template</h1>
	</body>
</html>
{{ end }}
endsnippet
