snippet comm
#----------------------------------------------------------
# $1
#----------------------------------------------------------
$0
endsnippet

snippet a "link" b
- [$1]($0)
endsnippet

snippet li "link" b
- [$1]($0)
endsnippet

snippet h "Header" b
#### $0
endsnippet

snippet - "link" b
- [$1]($0)
endsnippet
