snippet pr
nmap :Prosession ~/src/github.com/${1:TulsiTech}/$0<cr>
endsnippet

snippet comm
" --- $1
endsnippet

snippet ref
" FROM:  $1
endsnippet

snippet pl
Plug '$0'
endsnippet

snippet pl "Plugin Config"
"----------------------------------------------
" Plugin: $0
"----------------------------------------------
endsnippet

snippet sec
" --- $1
endsnippet

